body{
    background-color: #ffffff ;
    overflow-x: hidden;
}
canvas{
    border: 1px solid #b1b3b5;
}
.box-replay{
    display: block;
    position: relative;
    right: 40%;
    top: 3px;
}
.replay{
    position: relative;
    left: 30px;
    height: 35px;
    width: 35px;
}
.text-replay{
    font-size: 90%;
    font-weight: bold;
}

.fadeout{
    opacity:.2
}
.chow-replay-box{
    display: block;
}
