<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 distribution</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'simulation/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simulation/search.css' %}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Covid-19 Simulations</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                  <a class="nav-item nav-link active" href="/">Simulations</a>
                  <a class="nav-item nav-link" href="{% url 'map' %}">Map</a>
                  <a class="nav-item nav-link" href="#" id="about">About project</a>
            </div>
      </div>
</nav>
    <div class="container pt-4">
        <ul class="row nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#covid" role="tab" aria-controls="covid" aria-selected="true">COVID-19 Simulations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#custom" role="tab" aria-controls="custom" aria-selected="false">Custom simulation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Human activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="false">Resources</a>
            </li>
        </ul>
        <div class="row tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="covid" role="tabpanel" aria-labelledby="home-tab">
                <p class="p-3 col-10">
                    {{ data.liner_title|safe }}
                </p>
                <div class="row pt-2 pb-2 box">
                    <div class="col-1"></div>
                    <canvas id="liner-simulation" class="fadeout"></canvas>
                    <div id="liner-simulation-box" class="box-replay">
                        <img class="replay" src="{% static 'img/replay.png' %}">
                        <div class="text-replay">Click to replay </div>
                    </div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class="col-10">
                        <canvas id="liner-simulation-graph" height="100"></canvas>
                    </div>
                </div>

                <p class="col-10">
                    {{ data.liner_covered_title|safe }}
                </p>
                <div class="row pt-2 pb-2 box">
                    <div class="col-1"></div>
                    <canvas id="liner-covered-simulation" class="fadeout"></canvas>
                    <div id="liner-covered-simulation-box" class="box-replay">
                        <img class="replay" src="{% static 'img/replay.png' %}">
                        <div class="text-replay">Click to replay </div>
                    </div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class="col-10">
                        <canvas id="liner-covered-simulation-graph" height="100"></canvas>
                    </div>
                </div>

                <p class="col-10">
                    {{ data.square_covered_title|safe }}
                </p>
                <div class="row pt-2 pb-2 box">
                    <div class="col-1"></div>
                    <canvas id="square-covered-simulation" class="fadeout"></canvas>
                    <div id="square-covered-simulation-box" class="box-replay">
                        <img class="replay" src="{% static 'img/replay.png' %}">
                        <div class="text-replay">Click to replay </div>
                    </div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class="col-10">
                        <canvas id="square-covered-simulation-graph" height="100"></canvas>
                    </div>
                </div>

                <p class="col-10">
                    {{ data.lifeless_title|safe }}
                </p>
                <div class="row pt-2 pb-2 box">
                    <div class="col-1"></div>
                    <canvas id="lifeless-simulation" class="fadeout"></canvas>
                    <div id="lifeless-simulation-box" class="box-replay">
                        <img class="replay" src="{% static 'img/replay.png' %}">
                        <div class="text-replay">Click to replay </div>
                    </div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class="col-10">
                        <canvas id="lifeless-simulation-graph" height="100"></canvas>
                    </div>
                </div>

                <p class="col-10">
                    {{ data.quarantine_title|safe }}
                </p>
                <div class="row pt-2 pb-2 box">
                    <div class="col-1"></div>
                    <canvas id="quarantine-simulation" class="fadeout"></canvas>
                    <div id="quarantine-simulation-box" class="box-replay">
                        <img class="replay" src="{% static 'img/replay.png' %}">
                        <div class="text-replay">Click to replay </div>
                    </div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class="col-10">
                        <canvas id="quarantine-simulation-graph" height="100"></canvas>
                    </div>
                </div>
                <p class="col-10">
                    {{ data.down1_title|safe }}
                </p>
            </div>

            <div class="tab-pane fade" id="custom" role="tabpanel" aria-labelledby="custom-tab">
                <p class="col-10">
                    {{ data.custom_title|safe }}
                </p>
                <div class="row pt-2 pb-2 box">
                    <canvas id="custom-simulation" class="fadeout"></canvas>
                    <div id="controller" class=""></div>
                </div>
                <div class="row pt-2 pb-2">
                    <div class="col-10">
                        <canvas id="custom-simulation-graph" height="100"></canvas>
                    </div>
                </div>
                <p class="col-10">
                    {{ data.custom_down_title|safe }}
                </p>
            </div>

            <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                <div class="p-3">
                {{ data.activity_title|safe }}
                </div>
                <div class="row pt-2">
                    <div class="search_box col-8 offset-md-1">
                        <input type="text" name="search" id="search" class="form-control" placeholder="Search Country/Region or City">
                        <div id="search_box-result"></div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-3 offset-md-1 pt-3"><h4 id="region_name" class="pl-3">Moscow:</h4></div>
                </div>
                <div class="w-100"></div>
                <div id="hist" class="col-10"></div>
            </div>
            <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
                <div class="p-3">
                    {{ data.resources|safe }}
                </div>
            </div>

        </div>
    </div>

<!--JQuery -->
<script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!--Bootstrab -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--Dat.qui -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js" type="text/javascript" ></script>
<!--Graphics -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<!-- OnlineCharts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<!--main file -->
<script src="{% static 'simulation/basic.js' %}" type="text/javascript" ></script>
<script src="{% static 'simulation/graph.js' %}" type="text/javascript" ></script>
<script src="{% static 'simulation/control.js' %}" type="text/javascript" ></script>


</body>
</html>
